<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Task List</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="app">
        <h1>TO-DO List</h1>
        <input type="text" v-model="newTask" @keyup.enter="addTask" placeholder="Add a task...">
        <ul>
            <li v-for="(task, index) in tasks" :key="index" @click="toggleCompletion(index)" :class="{ 'completed': task.completed }">
                {{ task.name }}
                <span @click="deleteTask(index)">×</span>
            </li>
        </ul>
        <button id="delete-all" @click="deleteAllTasks">Delete All</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newTask: '',
                tasks: []
            }, mounted() {
                this.showData();
            },
            methods: {
                addTask() {
                    if (this.newTask.trim() !== '') {
                        this.tasks.push({ name: this.newTask, completed: false });
                        this.saveData();
                        this.newTask = '';
                    }
                },
                toggleCompletion(index) {
                    this.tasks[index].completed = !this.tasks[index].completed;
                    this.saveData();
                },
                deleteTask(index) {
                    this.tasks.splice(index, 1);
                    this.saveData();
                },
                deleteAllTasks() {
                    this.tasks = [];
                    this.saveData();
                },
                saveData() {
                    localStorage.setItem('data', JSON.stringify(this.tasks));
                },
                showData() {
                    if (localStorage.getItem('data')) {
                        this.tasks = JSON.parse(localStorage.getItem('data'));
                    }
                }
            }
        });
    </script>
</body>
</html>
